.App {
  text-align: center;
}
.app__form {
  padding: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: #d8d8d8;
  width: 90%;
  margin-left: 45px;
  border-radius: 10px;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
h1, h2 {
  color: #fff;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}